.App {
  text-align: center;
  padding:10px;
  height: 100vh;
  overflow: scroll;
}

#score {
  border:1px solid lightgrey;
  margin:5px;
  min-height:60vh;
  background:antiquewhite;
}

.rs-input {
  margin:5px
}

.buttonbar button{
  margin:5px
}
.buttonbar {
  margin: auto;
  width:100%
}
.buttonbar input, .buttonbar button, .buttonbar div {
  height: 52px;
  width: 100%;
}

a, a:hover{
  color:white!important
}

.rs-panel a, .rs-panel a:hover{
  color:#3498ff!important
}

p {
  font-size:18px;
}


h3.rs-popover-title {
  font-size:20px;
}